  <div class = "center hero-unit">
    

    <h1>Pandora Capital presents</h1>
   
    <h2>
        The Manhattan Project App brought to you by l'
        <a href="http:www.mognetti.com"> Equipe Anglaise</a>
    </h2>

      
    <%=link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
